<mat-toolbar color="primary">
  <mat-toolbar-row>

    <div class="siteName">
      <a routerLink="/home">Angular + ThreeJS</a>
    </div>

    <div class="menuPortion">
      <button mat-button [matMenuTriggerFor]="sandbox">Sandbox</button>
      <mat-menu #sandbox="matMenu">
        <a mat-menu-item routerLink="/sandbox/test-canvas">Test Canvas (2D canvas)</a>
        <a mat-menu-item routerLink="/sandbox/test-setup">Test setup (3D basics)</a>
        <a mat-menu-item routerLink="/sandbox/test-interactive-canvas">Test setup (3D + canvas)</a>
        <a mat-menu-item routerLink="/sandbox/test-interactive-html">Test setup (3D + HTML)</a>
        <a mat-menu-item routerLink="/sandbox/test-combined">Test Combined (3D + canvas + HTML)</a>
      </mat-menu>
    </div>

    <div class="menuPortion">
      <button mat-button [matMenuTriggerFor]="demo">Demo</button>
      <mat-menu #demo="matMenu">
        <a mat-menu-item routerLink="/demo/dancer">Tiny dancer</a>
        <a mat-menu-item routerLink="/demo/helmet">Damaged Helmet</a>
        <a mat-menu-item routerLink="/demo/car">Audi R8</a>
      </mat-menu>
    </div>

    <!-- <span class="example-spacer"></span>

    <div class="menuPortion">
      <button mat-button [matMenuTriggerFor]="auth">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">face</mat-icon>
      </button>
      <mat-menu #auth="matMenu">
        <a mat-menu-item routerLink="/login">Login</a>
        <a mat-menu-item routerLink="/register">Register</a>
        <a mat-menu-item routerLink="/user">User</a>
      </mat-menu>
    </div> -->

  </mat-toolbar-row>
</mat-toolbar>