<div class="heroBanner">
  <div class="threeWrap">
    <app-cthulhu></app-cthulhu>
  </div>
  <div class="overlayWrap">
    <div class="textBlock">
      <h1>Cthulhu</h1>
      <h4>Is a fictional cosmic entity created by writer H. P. Lovecraft</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna lorem, sagittis id urna et, facilisis consectetur elit. Mauris turpis purus, auctor sed commodo vel, luctus vitae nisl. Morbi in erat diam. Aenean molestie blandit ultricies. Nunc metus neque, feugiat vel consequat sit amet, eleifend eget ipsum. Suspendisse potenti.</p>
    </div>
  </div>
</div>
