<mat-toolbar color="primary">
  <mat-toolbar-row>

    <div class="siteName">
      <a routerLink="/home">Angular + ThreeJS</a>
    </div>

    <div class="menuPortion">
      <button mat-button [matMenuTriggerFor]="sandbox">Sandbox</button>
      <mat-menu #sandbox="matMenu">
        <button mat-menu-item>Test Canvas (2D canvas)</button>
        <button mat-menu-item>Test setup (3D basics)</button>
        <button mat-menu-item>Test Combined (2D and 3D)</button>
      </mat-menu>
    </div>

    <div class="menuPortion">
      <button mat-button [matMenuTriggerFor]="demo">Demo</button>
      <mat-menu #demo="matMenu">
        <button mat-menu-item>Tiny dancer</button>
        <button mat-menu-item>Damaged Helmet</button>
        <button mat-menu-item>Audi R8</button>
      </mat-menu>
    </div>


    <span class="example-spacer"></span>

    <a routerLink="/login">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">person</mat-icon>
    </a>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">person_add</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">face</mat-icon>


  </mat-toolbar-row>
</mat-toolbar>


<div class="center logo">
  <img src="/assets/ngt_logo_small.jpg" />
</div>

<div class="center">
  <img src="/assets/construction.gif" class="animGif" />
  <h2 class="headlineMod">Angular + ThreeJS</h2>
  <img src="/assets/construction.gif" class="animGif" />
</div>


<div class="center side">
  <h2>Sandbox</h2>
  <p><a routerLink="/test-canvas">Test Canvas (2D canvas)</a></p>
  <p><a routerLink="/test-setup">Test setup (3D basics)</a></p>
  <p><a routerLink="/test-combined">Test Combined (2D and 3D)</a></p>
</div>

<div class="center side">
  <h2>Demo</h2>
  <p><a routerLink="/dancer">Tiny dancer</a></p>
  <p><a routerLink="/helmet">Damaged Helmet</a></p>
  <p><a routerLink="/car">Audi R8</a></p>
</div>

<div class="center side">
  <h2>Auth</h2>
  <p><a routerLink="/login">Login</a></p>
  <p><a routerLink="/register">Register</a></p>
  <p><a routerLink="/user">User</a></p>
</div>