<div class="center logo">
  <img src="/assets/ngt_logo_small.jpg" />
</div>

<div class="center">
  <!-- <img src="/assets/construction.gif" class="animGif" /> -->
  <h2 class="headlineMod">Angular + ThreeJS</h2>
  <!-- <img src="/assets/construction.gif" class="animGif" /> -->

  <p>
    GitHub link to NG-Three project:<br/>
    <a href="https://github.com/ondrej-blazek/ngt" target="_blank">github.com/ondrej-blazek/ngt</a>
  </p>

  <p>
    GitHub link to this site that you are using right now:<br/>
    <a href="https://github.com/ondrej-blazek/ngt_site" target="_blank">github.com/ondrej-blazek/ngt_site</a>
  </p>
</div>
