<div class="center logo">
  <img src="/assets/ngt_logo_small.jpg" />
</div>

<div class="center">
  <img src="/assets/construction.gif" class="animGif" />
  <h2 class="headlineMod">Angular + ThreeJS</h2>
  <img src="/assets/construction.gif" class="animGif" />
</div>


<div class="center side">
  <h2>Sandbox</h2>
  <p><a routerLink="/test-canvas">Test Canvas (2D canvas)</a></p>
  <p><a routerLink="/test-setup">Test setup (3D basics)</a></p>
  <p><a routerLink="/test-combined">Test Combined (2D and 3D)</a></p>
</div>

<div class="center side">
  <h2>Demo</h2>
  <p><a routerLink="/dancer">Tiny dancer</a></p>
  <p><a routerLink="/helmet">Damaged Helmet</a></p>
  <p><a routerLink="/car">Audi R8</a></p>
</div>

<div class="center side">
  <h2>Auth</h2>
  <p><a routerLink="/login">Login</a></p>
  <p><a routerLink="/register">Register</a></p>
  <p><a routerLink="/user">User</a></p>
</div>